body {
  background-color: #eee;
  margin-top: -30px;
}

.container {
  height: 100vh;
}

.form-control {
  border-bottom: 2px solid #eee !important;
  border: none;
  font-weight: 600;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #8bbafe;
  outline: 0;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 2px solid blue !important;
}

.inputbox {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.inputbox span {
  position: absolute;
  top: 7px;
  left: 11px;
  transition: 0.5s;
}

.inputbox i {
  position: absolute;
  top: 13px;
  right: 8px;
  transition: 0.5s;
  color: #3f51b5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputbox input:focus ~ span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 12px;
}

.inputbox input:valid ~ span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 12px;
}

.hightlight {
  background-color: #fff;
  color: black;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 14px;
}

.decoration {
  text-decoration: none;
  font-size: 14px;
  color: black;
}

.decoration:hover {
  text-decoration: none;
  color: black;
}

.form-check-label {
  font-weight: 600;
}

.form-check-input:checked + .form-check-label {
  color: #0c0c0c;
}

.btn-success {
  color: black;
  background-color: #fff;
  border-color: #fff;
}

.btn-success:hover {
  color: black;
  background-color: #fff;
  border-color: #fff;
}

.card {
  border: none;
  background-color: #d8b7f8;
  color: black;
}

.card-blue {
  background-color: #d8b7f8;
  color: black;
}

.card-text {
  color: #000;
}

.content {
  color: #000;
}
/* Default styles for larger screens */
.container {
  margin-top: 50px;
}

.card {
  background-color: teal;
  margin-bottom: 20px;
}

.inputbox {
  position: relative;
}

.inputbox input {
  width: 100%;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}

@media (max-width: 1000px) {
  .container {
    margin-top: 20px;
  }

  .card h2 {
    font-size: 1.5rem;
  }

  .inputbox span {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 10px;
  }

  .card h2 {
    font-size: 1.2rem;
  }

  .inputbox span {
    font-size: 0.7rem;
  }
  footer {
    position: fixed;
    height: 4vh;
    bottom: 0;
    width: 100%;
    margin-top: 10px; /* Adjust the margin as needed */
  }
}
